body{
    background-image: url(imgs/fondo2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:monospace;
    font-size: 20px;
    line-height:0.8cm ;
    padding-right: 60px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
header{
    background-color: #9fbde8;
    color: white;
    border: 15px outset rgb(13, 100, 141);
    padding: 2%;
    text-align: center;
    font-size:50px;
}
nav{
    color: white;
    font-size: 20px;
}
h1{
    
    font-size: 40px;
    background-color: rgb(26, 149, 206);
    padding:0.5%;
    text-align: center;
}
p{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
section{
    background-color: rgba(13, 100, 141, 0.767);
}
ul{
    font-size: 30px;
    color:white;
}
nav{
    background-color: rgba(38, 202, 202,100);
}
div{
    background-color: white;
    padding: 0.5%;
}
h1{
    color: white;
}
a:link{
    color:blue;
}
a:hover{
    
    color:rgb(232, 17, 92);
}

a:visited{
    color:rgb(196, 50, 196);
}
aside{
float: right;
width: 10% 20% 10%;
}

/*
aside{
    float:inline-start;
    
    
    border: 5px outset black;
    padding: 1%;
}
*/
